<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap" rel="stylesheet">

<div id="background-log-in-form">
    <img id ="log-in-background"src="log-in-background.png" alt="">
  
        <div id="container-log-in"> 
            <div class="titles-direction">
                <h1 id="log-in-title">Acessar Conta</h1>
                <h3 class="extra-light" id="log-in-subtitle">Bem-vindo de volta!</h3>
            </div>
            <form class="form-direction" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="label-direction">
                    <label class="extra-light" id="log-in-label">E-mail</label>
                    <input type="e-mail" name="e-mail" id="e-mail" formControlName="email" placeholder="Insira o seu e-mail">
                    
                
                </div>
                <div id="label-options-spacing">
                    <div class="label-direction">
                        <label class="extra-light" id="log-in-label">Senha</label>
                        <input type="password" name="" id="" formControlName="senha" placeholder="Insira sua senha">
                    </div>
                    <div class="options-direction">
                        <p *ngIf="verificarRotaAtual()==='/log-in'" routerLink="/sign-up">Não possui conta? Cadastra-se</p>

                        <p *ngIf="verificarRotaAtual()==='/'" routerLink="sign-up">Não possui conta? Cadastra-se</p>

                        <p>Esqueceu a senha?</p>
                    </div>
                </div>
                <div id="submit-position">
                    <p id="incorrectMessage" *ngIf="!correctLogin">E-mail ou senha incorretos</p>
                    <input type="submit" id="submit-input">
                </div>
            </form>
        </div>
       


  
</div>
