<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;350;400&display=swap" rel="stylesheet">
<div id="navbar-container">
    <img src="achei-aqui-logo.png" id="achei-aqui-logo" >
    <ul id="options-list">
        <li>Meus Grupos</li>
        <li>Achados</li>
        <li>Perdidos</li>
        <li id="my-perfil">
            <p id="my-perfil-label" routerLink="{{myProfileUrl}}">Meu Perfil</p>
            <img src="perfil-image-mock-navbar.png" alt="">
            
        </li>

    </ul>
</div>